body {
    color: #1c6bd6;
}

nav ul li {
    list-style-image: none;
    display: inline-block;
}
.row.vacancy {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.28);
    border-radius: 3px;
    margin-bottom: 20px;
}

nav.container-fluid {
    background: #5C92DC;
    box-shadow: 0 1px 3px #CCC;
    margin-bottom: 20px;
}

nav ul {
    margin-bottom: 0;
}

nav a {
    padding: 10px 15px 8px;
    display: inline-block;
    font-size: 12pt;
    border-bottom: 2px solid transparent;
    color: #fff;
}

nav a:hover {
    background: rgb(65, 123, 202);
    border-color: #FFFFFF;
    color: #fff;
    text-decoration: none;
}
.form-control:focus {
    box-shadow: 0 0 5px rgba(51, 122, 183, 0.24), 1px 1px 3px rgba(105, 105, 105, 0.14)inset;
    border-color: #53A6EF;
}
.btn-circle {
    border-radius: 90px;
    padding: 6px;
    margin: 0 0 0 5px;
    background: #fff;
    border: 1px solid #337AB7;
}
footer.container {
    border-top: 1px solid #CCCCCC;
    padding: 20px;
    color: #B7B7B7;
}